<div class="card-columns m-3 animated fadeIn">
<div     class="col card puntero">
    <img class="card-img-top" [src]="plato.image"  alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{plato.title}}</h5>
            <p class="card-text">
                
                {{plato.summary}}  
            

         <!-- <span *ngFor="let ingrediente of plato.extendedIngredients" class="badge badge-pill badge-primary">
                {{ ingrediente.name }}
            </span>   -->
        </p>
         <hr>
        <h5>Ingredientes</h5>
        <br>
        <ol class="list-group list-group-numbered">
            <li *ngFor="let ingrediente of plato.extendedIngredients" class="list-group-item">
                {{ ingrediente.name }} 
            </li>
        </ol>
    </div>
</div>
</div>
<div class="d-grid gap-2">
<button [routerLink]="['/menu/home']" class="btn btn-primary m-5"> Regresar</button>
</div>